.recomendedu{
    margin-top: 37px;
    margin-left: 20px;
}

.recomendedchannel {
    margin-top: 50px;
    position: relative;
}

.main__button1 {
    
    background: #FF0000;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    margin-right: 40px;
    margin-top: -50px;
    position: absolute;
    top: 87px;
    right: 250px;
}

